ASPNETCORE_ENVIRONMENT=
JWT_PRIVATE_KEY_BASE64=
JWT_PUBLIC_KEY_BASE64=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_MINUTES=
JWT_REFRESH_DAYS=
DB_SA_PASSWORD=
RABBITMQ_USER=
RABBITMQ_PASS=
SEQ_ADMIN_PASSWORD=
GEMINI_API_KEY=
OPENAI_API_KEY=
